body {
    background-color: rgb(228, 180, 192);
}
h1{
    text-align: center;
    color: rgb(53, 32, 32);
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}